/* .slider {
  transition: transform 2s ease;
}

.slider.right {
  animation: slideLeft 2s forwards;
}

.slider.left {
  animation: slideRight 2s forwards;
}

@keyframes slideLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
} */


.slider-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slider-track {
  display: flex;
  transition: transform 0.6s ease-in-out;
  width: 100%; /* because 2 pages (first 4 + last 4) */
}

.slider-page {
  flex: 0 0 100%;
}
