/* preliminaryRound.css */

.mcq-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 100px;
}

.mcq-top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-bottom: 20px;
}

.mcq-question-number {
  font-size: 20px;
  font-weight: bold;
  color: #8c36d8;
}

.mcq-timer {
  font-size: 22px;
  font-weight: bold;
  color: #8c36d8;
}

.last-10-seconds {
  animation: pulse 1s infinite;
  color: red;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.mcq-container {
  width: 90%;
  margin: 0 auto;
  padding: 30px;
  background: linear-gradient(90deg, #f6f3ff 0%, #ffffff 100%);
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-top: 5px solid #8c36d8;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.mcq-question-container {
  margin-bottom: 30px;
}

.mcq-question {
  font-size: 30px;
  margin-bottom: 20px;
  color: #2c3e50;
}

.mcq-options-container {
  display: flex;
  flex-direction: column;
}

.mcq-option {
  margin-bottom: 20px;
  font-size: 22px;
  color: #34495e;
  background-color: #ecf0f1;
  border: 2px solid #bdc3c7;
  border-radius: 10px;
  padding: 18px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.mcq-option:hover {
  background-color: #d5d8dc;
  transform: scale(1.01);
}

.mcq-option.selected {
  background-color: #8c36d8;
  color: #ffffff;
}

.mcq-button-container {
  display: flex;
  justify-content: flex-end;
}

.mcq-next-button {
  display: flex;
  align-items: center;
  padding: 20px 30px;
  background-color: #8c36d8;
  color: #ffffff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 24px;
  transition: background-color 0.3s ease;
}

.mcq-next-button:hover {
  background-color: #392b69;
}

.next-icon {
  margin-left: 10px;
}

/* Add this style to your existing CSS */

.thank-you-card {
  /* display: none; */
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f6f3ff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 20px;
}

.thank-you-card h2 {
  color: #8c36d8;
  font-size: 24px;
  margin-bottom: 10px;
}

.thank-you-card p {
  color: #34495e;
  font-size: 18px;
  margin: 0;
}
